<div *ngIf="isLoggedIn == 'Yes'">
  <ul>
    <li *ngFor="let item of items$">
      <table>
        <tr>
          <td rowspan="2">
            <img src="../../../assets/animalImages/{{ item.image }}" style="width:40px; margin-left: auto; margin-right: auto; padding-right: 10px;" /> <a class="basicText" routerLink="/details/{{item.itemNumber}}">{{ item.name }}</a>
            <p style="font-size:18px; padding-left:2.1em">Price: ${{ item.price | number: ".2"}} | Stock: {{ item.instock }}</p>
          </td>
          <td rowspan="3" style="padding-left:15em;">
            <p style="font-size:18px; padding-top: 10px;">Quantity:</p>
          </td>
          <td rowspan="4" style="padding-left: 5px;">
            <input type="number" style="width: 70px; height: 26px; float: left;" name="quantity" min="1" max="{{item.instock}}" #count value=1>
          </td>
          
          <td rowspan="5">
            <p style='-webkit-margin-top-collapse: discard;' style="width: 140px; float: right; margin-top: 10px; " class="button" (click)="addToCart(item,count.value)">Buy</p>
          </td>
        </tr>
      </table>
    </li>
  </ul>

<br>
<div>
  <button class="button" style="width: 800px" routerLink="/cart"> View Items in Cart </button>
</div>

<br><br>
<hr>
<p id="logoSpot">Sponsored by PAV Co. &#169;</p>
</div>

<div *ngIf="isLoggedIn != 'Yes'">
  <h1>Please Sign In to Browse</h1>
  <ul>
      <li>
          <div class="button" style="width: 200px" routerLink="/login">
              <p class="buttonText">Go to Sign In</p>
            </div>
      </li>
    </ul>
    <br><br>
    <hr>
    <p id="logoSpot">Sponsored by PAV Co. &#169;</p>
</div>


