<div *ngIf="isLoggedIn == 'Yes'">
  <!-- <h1>Items For Sale:</h1>
  <ul>
    <li *ngFor="let item of items$">
      <ul>
        <li>
          <a class="basicText" routerLink="/details/{{item.id}}">{{ item.name }}</a>
        </li>
      </ul>
    </li>
  </ul>
  <div class="button" style="width: 120px" button #submit (click)="signOut()">
    <p class="buttonText">Sign Out</p>
  </div>

-->

<ul>
  <li *ngFor="let item of items$">
    <table>
      <tr>
        <td rowspan="2">
          <img src="../../../assets/animalImages/{{ item.image }}" style="width:40px; height:40px; margin-left: auto; margin-right: auto; padding-right: 10px;" /> <a class="basicText" routerLink="/details/{{item.itemNumber}}">{{ item.name }}</a>
        </td>
      </tr>
      <tr>
    </table>
  </li>
</ul>

<br>

<br><br>
<hr>
<p id="logoSpot">Sponsored by PAV Co. &#169;</p>
</div>

<div *ngIf="isLoggedIn != 'Yes'">
  <h1>Please Sign In to Browse</h1>
  <ul>
      <li>
          <div class="button" style="width: 200px" routerLink="">
              <p class="buttonText">Go to Sign In</p>
            </div>
      </li>
    </ul>
    <br><br>
    <hr>
    <p id="logoSpot">Sponsored by PAV Co. &#169;</p>
</div>


