#cartNotification_1 {
    color: #455232; 
    font-weight: bold; 
    display: none; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: center;
}

#cartNotification_2 {
    color: #455232; 
    font-weight: bold; 
    display: none; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: center;
}
#cartNotification_3 {
    color: #455232; 
    font-weight: bold; 
    display: none; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: center;
}
#cartNotification_4 {
    color: #455232; 
    font-weight: bold; 
    display: none; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: center;
}
#cartNotification_5 {
    color: #455232; 
    font-weight: bold; 
    display: none; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: center;
}
#cartNotification_6 {
    color: #455232; 
    font-weight: bold; 
    display: none; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: center;
}
#cartNotification_7 {
    color: #455232; 
    font-weight: bold; 
    display: none; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: center;
}
#cartNotification_8 {
    color: #455232; 
    font-weight: bold; 
    display: none; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: center;
}
#cartNotification_9 {
    color: #455232; 
    font-weight: bold; 
    display: none; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: center;
}
#cartNotification_10 {
    color: #455232; 
    font-weight: bold; 
    display: none; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: center;
}
#cartNotification_11 {
    color: #455232; 
    font-weight: bold; 
    display: none; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: center;
}