<div *ngIf="isLoggedIn == 'Yes'">
  <h1>Shopping Cart</h1>
  <ul>
    <li *ngFor="let item of countArray">
      <ul>
        <li>
          <table>
            <tr>
              <td><strong>Name:</strong></td>
              <td>{{ item.name  }}</td>
            </tr>
            <tr>
              <td><strong>Quantity:</strong></td>
              <td>{{ itemsInCart.get(item) }}</td>
            </tr>
            <tr>
              <td><strong>Unit Cost:</strong></td>
              <td>${{ item.price | number:"0.2" }}</td>
            </tr>
            <tr>
              <td><strong>Total Cost:</strong></td>
              <td>${{ item.price * itemsInCart.get(item) | number:"0.2" }}</td>
            </tr>
          </table>
        </li>
      </ul>
    </li>
    <li>
        <strong>Grand Total: </strong>${{ getGrandTotal() | number:"0.2"}}
    </li>
  </ul>
</div>
  
<div *ngIf="isLoggedIn != 'Yes'">
  <h1>Sign In To View Your Cart</h1>
  <ul>
    <li>
      <div class="button" style="width: 200px" routerLink="">
         <p class="buttonText">Go to Sign In</p>
      </div>
    </li>
  </ul>
</div>