<div *ngIf="isLoggedIn == 'Yes'">
  <h1 *ngIf="getGrandTotal() > 0" style="text-align: center;">Your Shopping Cart</h1> <!-- Add frowny or cart -->
  <h1 *ngIf="getGrandTotal() == 0" style="text-align: center;">Your Cart Is Empty</h1>
  <br>
  <br>
  <ul>
    <li *ngFor="let item of countArray">
      <ul>
        <li>
          <table width="480px">
            <tr>
              <td style="text-align: right;"><strong>Name:</strong></td>
              <td>{{ item.name  }}</td>
              <td width="10px"></td>
              <td style="text-align: right;"><strong>Quantity:</strong></td>
              <td>{{ itemsInCart.get(item)[0] }}</td>
              <td width="10px"></td>
              <td rowspan="2" style="padding-left:5px;">
                  <div class="button" style="width: 140px; float: right; margin-top: 10px; ">
                      <p class="buttonText" style='-webkit-margin-top-collapse: discard;' (click)="remove(item)" routerLink="/cart">Remove</p>
                  </div>
              </td>
              <td rowspan="3" style="padding-left:10px;">
                <p><strong style="color:#1e7e34;">|OR|</strong></p>
              </td>
              <td rowspan="3" style="padding-left:13px;">
                  <p><strong>Update Cart: </strong></p>
              </td>
              <td rowspan="4" style="padding-left:10px">
                <input type="number" style="width: 70px; height: 26px; float: left;" name="quantity" min="1" max="{{item.instock}}" #count value=1>
              </td>
              
              <td rowspan="5">
                <p style='-webkit-margin-top-collapse: discard;' style="width: 140px; float: right; margin-top: 10px; " class="button" (click)="addToCart(item,count.value)">Update</p>
              </td>
            </tr>
            <tr>
              <td style="text-align: right;"><strong>Unit Cost:</strong></td>
              <td>${{ item.price | number:"0.2" }}</td>
              <td width="10px"></td>
              <td style="text-align: right;"><strong>Total Cost:</strong></td>
              <td>${{ item.price * itemsInCart.get(item)[0] | number:"0.2" }}</td>
            </tr>
          </table>
        </li>
      </ul>
    </li>
    <li *ngIf="getGrandTotal() > 0">
        <strong>Grand Total: </strong>${{ getGrandTotal() | number:"0.2"}}
    </li>
  </ul>
  <div *ngIf="getGrandTotal() > 0" class="button" style="width: 400px; background-color: #455232;" routerLink="/checkout">
    <p class="buttonText">Check Out!</p>
  </div>
  <div class="button" style="width: 400px" routerLink="/items">
    <p class="buttonText">Back to All Items</p>
  </div>
  <div class="button" style="width: 350px" button #submit (click)="signOut()">
    <p class="buttonText">Sign Out</p>
  </div>
  <br><br>
  <hr>
  <p id="logoSpot">Sponsored by PAV Co. &#169;</p>
</div>
  
<div *ngIf="isLoggedIn != 'Yes'">
  <h1>Sign In To View Your Cart</h1>
  <ul>
    <li>
      <div class="button" style="width: 200px" routerLink="">
         <p class="buttonText">Go to Sign In</p>
      </div>
    </li>
  </ul>
  <br><br>
  <hr>
  <p id="logoSpot">Sponsored by PAV Co. &#169;</p>
</div>