<div *ngIf="isLoggedIn == 'Yes'">
  <h1 align = "center">Please Review Your Order</h1>

  <div class="button" style="width: 350px; background-color: #455232;" (click)="buyNow()" routerLink="/thanks">
    <p class="buttonText">Buy Now!</p>
  </div>
  <div class="button" style="width: 350px" button #submit (click)="signOut()">
    <p class="buttonText">Sign Out</p>
  </div>
  <br><br>
  <hr>
  <p id="logoSpot">Sponsored by PAV Co. &#169;</p>
</div>
      
<div *ngIf="isLoggedIn != 'Yes'">
  <h1>Please Sign In To Shop</h1>
  <ul>
    <li>
      <div class="button" style="width: 300px" routerLink="">
        <p class="buttonText">Go to Sign In</p>
      </div>
    </li>
  </ul>
  <br><br>
  <hr>
  <p id="logoSpot">Sponsored by PAV Co. &#169;</p>
</div>