<head>
</head>

<body>
  <div id = "carotitle" >
    <br>
    <div class="button" style="width: 800px" routerLink="/login">
      <p class="buttonText">Click Here to Start Shopping</p>
    </div>
    
  </div>
  <div id="caro">
    <ngb-carousel >
      <ng-template ngbSlide>
        <img src="../assets/carouselImages/lemur.jpg" alt="Lemur">
        <div class="carousel-caption">
          <h3>We sell Lemurs!</h3>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <img src="../assets/carouselImages/elephant.jpg" alt="Elephant">
        <div class="carousel-caption">
          <h3>We sell Elephants!</h3>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <img src="../assets/carouselImages/giraffe.jpg" alt="Giraffe">
        <div class="carousel-caption">
          <h3>We sell Giraffes!</h3>
        </div>
      </ng-template>

      <ng-template ngbSlide>
          <img src="../assets/carouselImages/hippo.jpg" alt="Hippo">
          <div class="carousel-caption">
            <h3>We sell Hippos!</h3>
          </div>
      </ng-template>
      <ng-template ngbSlide>
          <img src="../assets/carouselImages/honeyb.JPG" alt="Honey Badgers">
          <div class="carousel-caption">
            <h3>We sell Honey Badgers!</h3>
           </div>
      </ng-template>

      <ng-template ngbSlide>
          <img src="../assets/carouselImages/hyena.jpg" alt="Hyena">
          <div class="carousel-caption">
            <h3>We sell Hyenas!</h3>
           </div>
      </ng-template>

      <ng-template ngbSlide>
          <img src="../assets/carouselImages/lion.jpg" alt="Lion">
          <div class="carousel-caption">
            <h3>We sell Lions!</h3>
           </div>
      </ng-template>

      <ng-template ngbSlide>
          <img src="../assets/carouselImages/lynx.jpg" alt="Lynx">
          <div class="carousel-caption">
            <h3>We sell Lynx Cats!</h3>
           </div>
      </ng-template>

      <ng-template ngbSlide>
          <img src="../assets/carouselImages/meerkat.jpg" alt="Meerkat">
          <div class="carousel-caption">
            <h3>We sell Meerkats!</h3>
           </div>
      </ng-template>

      <ng-template ngbSlide>
          <img src="../assets/carouselImages/mongoose.jpg" alt="Mongoose">
          <div class="carousel-caption">
            <h3>We sell Mongooses!</h3>
           </div>
      </ng-template>

      <ng-template ngbSlide>
          <img src="../assets/carouselImages/zebra.jpg" alt="Zebra">
          <div class="carousel-caption">
            <h3>We sell Zebras!</h3>
           </div>
      </ng-template>    
    </ngb-carousel>
  </div>
  
  <br>
  <br>

  <div class = "flare">
    <h2>About Us</h2>
    <hr>
    <p>We are PAV Co. We are a nonprofit that is dedicated to a better lifestyle for rare and exotic animals. We want to provide the perfect animals for every individual!</p>
  </div>
  
  <div class="flare">
    <h2>Mission Statement</h2>
    <hr>
    <p>We will provide the BEST animals that are GUARANTEED to be gluten free, non-gmo, no-msg, cage free, low-sodium, no artificial flavor, and low-carbs that are not suitable for human consumption. THEY WILL ALWAYS ARRIVE ON TIME! </p>
    <p>"Man's Best Friend is about to change!- CEO Peter Kabai</p>
    <p>"A Safer Better Way to Love Animals!" - CEO AJ Diaz</p>
    <p>"You won't regret this perfect opportunity!" - CEO Victoria Zamora </p>
  </div>
  
  <br><br>
  <hr>
  <p id="logoSpot">Sponsored by PAV Co. &#169;</p>


</body>